body {
	background-color: #005300;
	color: #FFFFFF;
}

a:link, a:visited, a:hover, a:active {
	color: #FFFFFF;
	background-color: transparent;
	text-decoration: none;
}

label {
	float: left;
}

input, textarea, select {
	color: #000000 !important;
	position: relative;
	left: 10px;
}

h1 small {
	color: #FFFFFF;
}

.facebook-button {
	position: relative;
	top: 2px;
}

.btn-success {
	background-color: #355C1E;
}

.btn-danger {
	background-color: #FF96AC;
}

.header {
	background-color: #FF96AC;
	height: 100px;
}

.footer {
	height: 50px;
}

.logo-field, .notification-field, .loginout {
	height: 100%;
}

.loginout {
	padding-top: 5px;
}

.index-title {
	display: inline-block;
	position: relative;
	left: 10px;
	top: 8px;
}

.billboard {
	background-image: url("images/image7.png");
	background-size: 100%;
	height: 500px;
	padding-left: 50px;
}

.logout {
	position: relative;
	left: 355px;
}

.search {
	margin-top: 10px;
	position: relative;
	left: 110px;
}

.mugshot {
	height: 90px;
	width: 75px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 100%;
	border: 2px solid #005300;
}

.gallery-pics {
	height: 200px;
	width: 200px;
	border: 2px solid #FF96AC;
}

.nope {
	float: none !important;
}

.profile-pic {
	height: 100px;
	width: 100px;
	border: 2px solid #FF96AC;
}

.profile-info {
	float: left;
	clear: both;
}

.wall {
	float: right;
}

.comment {
	position: relative;
	left: 25px;
	bottom: 10px;
}

.comment-btn {
	position: relative;
	left: 25px;
	bottom: 15px;
}

#search {
	position: relative;
	top: 5px;
}

#search_button {
	position: relative;
	left: 15px;
}

#enable_fb {
	float: right;
}

#password {
	position: relative;
	left: 15px;
}

#login_buttons {
	position: relative;
	top: 4px
}

#comment_text {
	position: relative;
	bottom: 15px;
}