{% extends "social/base.html" %}
{% load staticfiles %}

{% block title %}
	Nedlr
{% endblock %}

{% block logo %}
	Nedlr
{% endblock logo %}

{% block loginout %}
	<button type="button" class="btn btn-success logout"><a href="{% url 'social:logout' %}">Logout</a></button>
{% endblock %}

{% block content %}
	<p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
	<form action="" method="post" id="enable_fb">
		{% csrf_token %}
		<input type="hidden" name="fb_id" value="" id="fb_id">
		{% if user.profile.fb_id %}
			Update linked Facebook account: 
		{% else %}
			Enable: 
		{% endif %}
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
		{% if user.profile.fb_id %}
			<p>Facebook is linked</p>
		{% else %}
			<p>Facebook is not linked</p>
		{% endif %}
		
	</form>
	<br />
	<p>I am a {{ user.profile.religion }}. </p>
	<br />
	<p>
		Bio:
		<br />
		"{{ user.profile.bio }}"
	</p>
	<button type="button" class="btn btn-danger"><a href="{% url 'social:profile_change' %}">Update Profile</a></button>
	<button type="button" class="btn btn-danger"><a href="{% url 'social:upload_photo' %}">Upload Photos</a></button>
{% endblock content %}