{% extends "social/base.html" %}
{% load staticfiles %}

{% block title %}
	Nedlr - Upload photos
{% endblock title %}

{% block content %}
	{% if form %}
		<div class="row">
			<div class="col-md-12">
				<h2>Upload a photo</h1>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-danger">Upload Photo</button>
				</form>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<h2>Gallery</h2>
			{% if pics %}
				<div class="row">
					{% for image in pics %}
						<div class="col-md-2">
							<form action="{% url 'social:set_avatar' %}" method="post" >
								{% csrf_token %}
								<img class="gallery-pics" src="{{ image.pic.url }}" />
								<input type="hidden" value="{{ image.pk }}" name="avatar" id="avatar">
								<button type="submit" class="btn btn-small btn-danger avatar-btn">Set as Profile Pic</button>
							</form>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>There are no images uploaded for this user</p>
			{% endif %}
		</div>
	</div>
{% endblock content %}