{% extends "social/base.html" %}
{% load staticfiles %}

{% block title %}
	Nedlr - Create an account
{% endblock %}

{% block logo %}
	Nedlr <small>Registration</small>
{% endblock logo %}

{% block loginout %}
	<form action="{% url 'social:index' %}" method="post" id="enable_fb">
		{% csrf_token %}
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="username">
		<br />
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password">
		<br />
		<input type="hidden" name="fb_id" value="" id="fb_id">
		<span id="login_buttons"><button type="submit" class="btn btn-success">Login</button>
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="facebook-button">
		</fb:login-button>
	</form>
{% endblock loginout %}

{% block search %}
{% endblock search %}

{% block content %}
<div class = "row">
	<div class = "col-md-12">
		<h2>Create an account</h1>
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-danger">Create the account</button>
		</form>
	</div>
</div>
{% endblock content %}